:root {
  /* Primary */
--blue100: hsl(225, 100%, 94%);
--blue700: hsl(245, 75%, 52%);

/* Neutral */
--blue50: hsl(225, 100%, 98%);
--gray600: hsl(224, 23%, 55%);
--gray-trans: hsl(224, 23%, 55%, 0.2);
--blue950: hsl(223, 47%, 23%);  
}

@font-face {
  font-family: "Red Hat Display";
  src: url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue100);
}

.card {
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.hero {
  width: 100%;
  object-fit: contain;
}

.title {
  font-size: 1.125rem;
  color: black;
  width: 100%;
  text-align: center;
}

.info {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  color: var(--gray600);
  line-height: 1.125rem;
}

.details {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-trans);
  border-radius: .5rem;
}

.stack {
  display: flex;
  flex-direction: column;
}
