:root {
  /* Primary */
--blue100: hsl(225, 100%, 94%);
--blue700: hsl(245, 75%, 52%);
--blue700act: hsl(245, 75%, 52%, 0.3);

/* Neutral */
--blue50: hsl(225, 100%, 98%);
--gray600: hsl(224, 23%, 55%);
--blue950: hsl(223, 47%, 23%);  
}

@font-face {
  font-family: "Red Hat Display";
  src: url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue100);
}

.card {
  width: 21rem;
  height: 36rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "Red Hat Display";
}

.hero {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem 1rem 0 0;
}

.container {
  padding: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.info {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: var(--gray600);
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--blue50);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.stack {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.plan {
  font-weight: 800;
  font-size: .925rem;
  color: black;
}

.cost {
  font-weight: 500;
  font-size: .925rem;
  color: var(--gray600);
}

.change {
  color: var(--blue700);
  font-weight: 800;
  font-size: .925rem;
}

.change:hover {
  background-color: var(--blue700act);
  cursor: pointer;
}

.btn {
  background-color: var(--blue700);
  width: 100%;
  border: none;
  border-radius: 1rem;
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: .925rem;
  color: white;
  padding: .8rem 2.3rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 15px 15px 0 var(--blue50);
}

.btn:hover {
  background-color: var(--blue700act);
  cursor: pointer;
}

.cancel {
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray600);
}

.cancel:hover {
  color: var(--blue950);
  cursor: pointer;
}
